@charset "utf-8";
$yellow: #FFEC00;
$white: #FFF;

body {
  font-family: "futura-pt",sans-serif;
}
header {
  .header-wrapper {
    width: 100%;
    height: 96px;
    background: {
      color: $yellow;
    }
  }
  .title {
    color: $white;
    font: {
      size: 30px;
      family: "futura-pt",sans-serif;
    }
  }


}
