extends ./_layouts/_base

block title
  title cham538.com
block meta
  meta(name="description", content="description")
block link
  // build:css({.tmp,app}) styles/main.min.css
  link(rel='stylesheet' href='styles/medium.css')
  // endbuild

block body
  body
    .loading-bg
      .loading-img
        img(src="images/loading-six.png" width=129 height=111.72)
    header
      .header-wrapper
        a.title-wrapper(href="/")
          .title-logo
            img.six-yellow(src='images/six-yellow.png' width=51 height=44)
            img.six-green(src='images/six-green.png' width=51 height=44)
          h1.title Shinnosuke Komiya
        .earth-logo 
          img(src='images/earth.png' width=38 height=39)
        ul.menu
          li 
            a.about-tab(href="#" onClick="appendDom('about'); return false") about
          li
            a.works-tab(href="#" onClick="appendDom('works'); return false") works
          li
            a.blog-tab(href="#" onClick="appendDom('blog'); return false") blog
          li
            a.contact-tab(href="#" onClick="appendDom('contact'); return false") contact
    main
      section.top-wrapper
        .top-earth-wrapper
          a.earthLinkWrapper(href="./chamEarth/chamEarth.html")
            img.top-earth(src="images/eath-large.png" width=68 height=68)
            .top-earth-text
              p.line1 Watch him 
              p.line2 by Earth
        .top-profile-img
          img(src="images/profile-large.png" width=166 height=146)
        .top-profile-name
          p Shinnosuke
          p Komiya
        .next-pointer
          img(src="images/next.png" width=90 height=47)
      section.about-content-wrapper
        .profile-img
          img(src="images/Profile.png" width=158 height=138)
        h1.name 
          .name-wrapper
            .first-name Shinnosuke
            .last-name Komiya
        .detail-profile-wrapper  
          h2.birthday Dec/27/1992
          h2.belong 
            .belong-wrapper
              img(src='images/TMULogo.png' width=33 height=21) 
              p Tokyo Metropolitan Univ.
                span (Master 1st)
          h2.tongue
            .tongue-wrapper
              img(src='images/tongue.png' width=24 height=24)
              p Japanese/English/Chinese
                span (a little)
          .sns-icon
            .sns-icon-wrapper
              a.twitter-icon(href="https://twitter.com/kurohune538" target="_blank")
                img(src='images/twitter.png' width=28 height=28)
              a.facebook-icon(href="https://www.facebook.com/sinnosuke.komiya" target="_blank")
                img(src='images/facebook-icon.png' width=28 height=28)
              a.googleplus-icon(href="https://plus.google.com/u/0/110217528722787480805/posts" target="_blank")
                img(src='images/googleplus-icon.png' width=28 height=28)
              a.github-icon(href="https://github.com/kurohune538" target="_blank")
                img(src='images/github-icon.png' width=28 height=28)
              a.pinterest-icon(href="https://jp.pinterest.com/qbmmm/" target="_blank")
                img(src='images/pinterest-icon.png' width=28 height=28)
              a.linkedin-icon(href="https://jp.linkedin.com/pub/shinnosuke-komiya/89/821/214" target="_blank")
                img(src='images/linkedin-icon.png' width=28 height=28)
              a.hatena-icon(href="http://kurohune538.hatenablog.com/" target="_blank")
                img(src='images/hatena-icon.png' width=28 height=28)              
          
        section.skills-and-tools-wrapper
          .skill-title-wrapper
            h2.skills-and-tools  Skills & Tools
          .skills-wrapper
            ul.skills
              li
                img(src="images/html-icon.png" width=58 height=58)
                p HTML
              li
                img(src="images/css-icon.png" width=58 height=58)
                p CSS
              li.middle
                img(src="images/js-icon.png" width=58 height=58)
                p javascript
              li
                img(src="images/php-icon.png" width=58 height=58)
                p php
              li
                img(src="images/ruby-icon.png" width=58 height=58)
                p Ruby
              li.middle
                img(src="images/rails-icon.png" width=58 height=58)
                p Ruby on Rails
              li.middle
                img(src="images/objc-icon.png" width=58 height=58)
                p Objective-C
              li
                img(src="images/swift-icon.png" width=58 height=58)
                p swift
              li
                img(src="images/arduino-icon.png" width=58 height=58)
                p Arduino
              li.small
                img(src="images/of-icon.png" width=58 height=58)
                p openFrameworks
              li
                img(src="images/unity-icon.png" width=58 height=58)
                p Unity C#                
            ul.tools
              li.middle
                img(src="images/ps-icon.png" width=58 height=58)
                p Photoshop
              li
                img(src="images/ai-icon.png" width=58 height=58)
                p Illustrator
              li
                img(src="images/pr-icon.png" width=58 height=58)
                p Premiere
              li.middle
                img(src="images/ae-icon.png" width=58 height=58)
                p AfterEffects
              li.small
                img(src="images/an-icon.png" width=58 height=58)
                p Edge Animate
              li
                img(src="images/sketch-icon.png" width=58 height=58)
                p Sketch
              li
                img(src="images/prott-icon.png" width=58 height=58)
                p prott
            ul.hobby      
              li
                img(src="images/camera-icon.png" width=58 height=58)
                p Camera
              li
                img(src="images/bicycle-icon.png" width=58 height=58)
                p Bicycle
              li
                img(src="images/dance-icon.png" width=58 height=58)
                p Dance
              li.middle
                img(src="images/tabletennis-icon.png" width=58 height=58)
                p Tabletennis
              li.middle
                img(src="images/badminton-icon.png" width=58 height=58)
                p Badminton
              li
                img(src="images/kendo-icon.png" width=58 height=58)
                p Kendo
        
      section.works-content-wrapper
          .web-works(onClick="showWebWorks()")
            .centering-wrapper
              img(src='images/web-works-icon.png')
              p Web
            .icon-title-wrapper
              img(src='images/web-works-icon.png' width=40 height=40)
              p Web
            .works-list
              .list-wrapper
                ul
                  a(href="http://cansat.mapping.jp/" target="_blank")
                    li.cansat
                      img(src="images/cansatSS.png")
                      dl
                        dt cansatmapping
                        dd cansat is a project of launch sattelite made by can.
                          br
                          |We mapped them where they were launched on the Earth.
                        dd.used-skill HTML/CSS/javascript/GoogleEarth
                  a(href="http://sailor.link" target="_blank")
                    li.sailor
                      img(src="images/sailor.png")
                      dl
                        dt sailor
                        dd sailor is a webservice for foreign traveler to Japan.
                          br
                          |We match a traveler and a japanese guide.
                        dd.used-skill HTML/CSS/javascript/php
                  a(href="https://haletto.jp/" target="_blank")
                    li.haletto
                      img(src="images/haletto.png")
                      dl
                        dt haletto
                        dd halettoは全ての大人女子がもらって嬉しいカフェやランチやイベントなどのスポット情報を
                          |一人ひとりに合わせて届けるお出かけキュレーションメディアです。
                        dd.used-skill HTML/CSS/javascript
                  a(href="http://kurohune538.sakura.ne.jp/Chu2/index.html" target="_blank")
                    li.chu2
                      img(src="images/chu2.png")
                      dl
                        dt 中二病
                        dd ワンタップで技を決めて最強の技を繰り出せ！
                          br
                          |選ばれる単語の組み合わせによって技の威力と組み合わせが変わります
                        dd.used-skill HTML/CSS/javascript          
                ul  
                  a(href="http://kurohune538.sakura.ne.jp/Sesami/index.html" target="_blank")
                    li.sesami
                      img(src="images/sesami.png")
                      dl
                        dt エルモと一緒に塗り絵をしよう
                        dd 全てjavascriptで動くノンプラグイン塗り絵アプリ
                          br
                          |３〜５歳向けの知育アプリとしてHTML5japanCupに投稿しました。
                        dd.used-skill HTML/CSS/javascript
                  a(href="http://kanen.mapping.jp" target="_blank")
                    li.kanen
                      img(src="images/kanen.png")
                      dl
                        dt 肝炎マッピング
                        dd 肝炎マッピングは肝炎患者さんに対して、自宅の付近にどんな病院があるのか知らせるWebアプリです
                          br
                          |検査のできる病院だけでなく、肝炎コーディネーターさんの場所もわかります。
                        dd.used-skill HTML/CSS/javascript/Cesium/Photoshop                          
          .app-works(onClick="showAppWorks()")
            .centering-wrapper
              img(src='images/app-works-icon.png')
              p Mobile App
            .icon-title-wrapper
              img(src='images/app-works-icon.png' width=30 height=40)
              p Mobile App
            .works-list
              .list-wrapper
                ul
                  a(href="https://itunes.apple.com/jp/app/yinakamap/id905156936?mt=8" target="_blank")
                    li.cansat
                      img(src="images/ekinaka_main.jpg")
                      dl
                        dt 駅ナカMap
                        dd AR(拡張現実)を使ってiPhoneのカメラを通して直感的に出口の方向と距離がわかります。
                          br
                          |地図が苦手な方でも安心！もちろん地図との併用も可能です。
                        dd.used-skill Objective-C/Swift/Photoshop/Illustrator
                  a(href="http://petapeta.info" target="_blank")
                    li.sailor
                      img(src="images/petapeta.jpg")
                      dl
                        dt PetaPeta
                        dd 頭脳戦鬼ごっこ
                          br
                          |PetaPetaはインソールデバイスとスマートフォンを使って遊ぶ新しい鬼ごっこです
                        dd.used-skill Swift/Arduino/Photoshop/Illustrator
                  a(href="http://sugoisaigaikunren.org/" target="_blank")
                    li.haletto
                      img(src="images/DECOthumbnail.png")
                      dl
                        dt すごい災害訓練DECO
                        dd すごい災害訓練DECOは、地域の防災リーダーの育成を目的としたアクティブ・ラーニング型災害訓練です。
                          |iBeaconと連動させることで、リアルな迫力ある災害訓練を演出することができます。
                        dd.used-skill Swift/Ruby/HTML/CSS/Javascript
                ul  
          .hardware-works(onClick="showHardWareWorks()")
            .centering-wrapper
              img(src='images/hardware-works-icon.png')
              p Hardware
            .icon-title-wrapper
              img(src='images/app-works-icon.png' width=30 height=40)
              p Hardware
            .works-list
              .list-wrapper
                ul
                  a(href="https://makershub.jp/make/666" target="_blank")
                    li.cansat
                      img(src="images/groove.png")
                      dl
                        dt GROOVE
                        dd GROOVEはLOCKダンス用のウェアラブルデバイスです
                          br
                          |あなたの踊りを認識し、ダンスに合わせた演出が可能になります。
                        dd.used-skill openFrameworks/Arduino/Illustrator/半田ごて    
                  a(href="http://petapeta.info" target="_blank")
                    li.sailor
                      img(src="images/petapeta.jpg")
                      dl
                        dt PetaPeta
                        dd 頭脳戦鬼ごっこ
                          br
                          |PetaPetaはインソールデバイスとスマートフォンを使って遊ぶ新しい鬼ごっこです
                        dd.used-skill Swift/Arduino/Photoshop/Illustrator
          .mp-works(onClick="showMpWorks()")
            .centering-wrapper
              img(src='images/mp-works-icon.png')
              p Movie
                br
                |&
                br
                |Photo  
            .icon-title-wrapper
              img(src='images/mp-works-icon.png' width=40 height=30)
              p Movie & Photo
            .works-list
              .list-wrapper
                ul
                  a(href="https://youtu.be/cCnSlqcje1Y" target="_blank")
                    li.sailor
                      img(src="images/petapetaTrailer.png")
                      dl
                        dt PetaPeta
                        dd 頭脳戦鬼ごっこ
                          br
                          |PetaPetaはインソールデバイスとスマートフォンを使って遊ぶ新しい鬼ごっこです
                        dd.used-skill Swift/Arduino/Photoshop/Illustrator/Premiere/AfterEffects
                  a(href="https://www.youtube.com/watch?v=127vScaWomY" target="_blank")
                    li.sailor
                      img(src="images/actputTrailer.png")
                      dl
                        dt Actput
                        dd Actputはジェスチャーによりアプリを起動するスマートウォッチ用ランチャーです
                          br
                          |様々なサードパーティアプリと連携し、ジェスチャーを登録できます。
                        dd.used-skill /Photoshop/Illustrator/Sketch/Premiere/AfterEffects
