extends ./_layouts/_base

block title
  title cham538.com
block meta
  meta(name="description", content="description")
block link
  // build:css({.tmp,app}) styles/main.min.css
  link(rel='stylesheet' href='styles/medium.css')
  // endbuild

block body
  body
    .loading-bg
      .loading-img
        img(src="images/loading-six.png" width=129 height=111.72)
    header
      .header-wrapper
        a.title-wrapper(href="/")
          .title-logo
            img(src='images/six.png' width=51 height=44)
          h1.title Shinnosuke Komiya
        .earth-logo 
          img(src='images/earth.png' width=38 height=39)
        ul.menu
          li 
            a.about-tab(href="#" onClick="appendDom('about'); return false") about
          li
            a.works-tab(href="#" onClick="appendDom('works'); return false") works
          li
            a.blog-tab(href="#" onClick="appendDom('blog'); return false") blog
          li
            a.contact-tab(href="#" onClick="appendDom('contact'); return false") contact
    main
      section.top-wrapper
        .top-earth-wrapper
          img.top-earth(src="images/eath-large.png" width=68 height=68)
          .top-earth-text
            p.line1 Watch him 
            p.line2 by Earth
        .top-profile-img
          img(src="images/profile-large.png" width=166 height=146)
        .top-profile-name
          p Shinnosuke
          p Komiya
        .next-pointer
          img(src="images/next.png" width=90 height=47)
      section.about-content-wrapper
        .profile-img
          img(src="images/Profile.png" width=158 height=138)
        h1.name 
          .name-wrapper
            .first-name Shinnosuke
            .last-name Komiya
        .detail-profile-wrapper  
          h2.birthday Dec/27/1992
          h2.belong 
            .belong-wrapper
              img(src='images/TMULogo.png' width=33 height=21) 
              p Tokyo Metropolitan Univ.
                span (Master 1st)
          h2.tongue
            .tongue-wrapper
              img(src='images/tongue.png' width=24 height=24)
              p Japanese/English/Chinese
                span (a little)
          .sns-icon
            .sns-icon-wrapper
              a.twitter-icon(href="https://twitter.com/kurohune538" target="_blank")
                img(src='images/twitter.png' width=28 height=28)
              a.facebook-icon(href="https://www.facebook.com/sinnosuke.komiya" target="_blank")
                img(src='images/facebook-icon.png' width=28 height=28)
              a.googleplus-icon(href="https://plus.google.com/u/0/110217528722787480805/posts" target="_blank")
                img(src='images/googleplus-icon.png' width=28 height=28)
              a.github-icon(href="https://github.com/kurohune538" target="_blank")
                img(src='images/github-icon.png' width=28 height=28)
              a.pinterest-icon(href="https://jp.pinterest.com/qbmmm/" target="_blank")
                img(src='images/pinterest-icon.png' width=28 height=28)
              a.linkedin-icon(href="https://jp.linkedin.com/pub/shinnosuke-komiya/89/821/214" target="_blank")
                img(src='images/linkedin-icon.png' width=28 height=28)
              a.hatena-icon(href="http://kurohune538.hatenablog.com/" target="_blank")
                img(src='images/hatena-icon.png' width=28 height=28)              
          
        section.skills-and-tools-wrapper
          .skill-title-wrapper
            h2.skills-and-tools  Skills & Tools
          .skills-wrapper
            ul.skills
              li
                img(src="images/html-icon.png" width=58 height=58)
                p HTML
              li
                img(src="images/css-icon.png" width=58 height=58)
                p CSS
              li.middle
                img(src="images/js-icon.png" width=58 height=58)
                p javascript
              li
                img(src="images/php-icon.png" width=58 height=58)
                p php
              li
                img(src="images/ruby-icon.png" width=58 height=58)
                p Ruby
              li.middle
                img(src="images/rails-icon.png" width=58 height=58)
                p Ruby on Rails
              li.middle
                img(src="images/objc-icon.png" width=58 height=58)
                p Objective-C
              li
                img(src="images/swift-icon.png" width=58 height=58)
                p swift
              li
                img(src="images/arduino-icon.png" width=58 height=58)
                p Arduino
              li.small
                img(src="images/of-icon.png" width=58 height=58)
                p openFrameworks
              li
                img(src="images/unity-icon.png" width=58 height=58)
                p Unity C#                
            ul.tools
              li.middle
                img(src="images/ps-icon.png" width=58 height=58)
                p Photoshop
              li
                img(src="images/ai-icon.png" width=58 height=58)
                p Illustrator
              li
                img(src="images/pr-icon.png" width=58 height=58)
                p Premiere
              li.middle
                img(src="images/ae-icon.png" width=58 height=58)
                p AfterEffects
              li.small
                img(src="images/an-icon.png" width=58 height=58)
                p Edge Animate
              li
                img(src="images/sketch-icon.png" width=58 height=58)
                p Sketch
              li
                img(src="images/prott-icon.png" width=58 height=58)
                p prott
            ul.hobby      
              li
                img(src="images/camera-icon.png" width=58 height=58)
                p Camera
              li
                img(src="images/bicycle-icon.png" width=58 height=58)
                p Bicycle
              li
                img(src="images/dance-icon.png" width=58 height=58)
                p Dance
              li.middle
                img(src="images/tabletennis-icon.png" width=58 height=58)
                p Tabletennis
              li.middle
                img(src="images/badminton-icon.png" width=58 height=58)
                p Badminton
              li
                img(src="images/kendo-icon.png" width=58 height=58)
                p Kendo
        
      section.works-content-wrapper
          .web-works
            .centering-wrapper
              img(src='images/web-works-icon.png')
              p Web
          .app-works
            .centering-wrapper
              img(src='images/app-works-icon.png')
              p Mobile App
          .hardware-works
            .centering-wrapper
              img(src='images/hardware-works-icon.png')
              p Hardware
          .mp-works
            .centering-wrapper
              img(src='images/mp-works-icon.png')
              p Movie 
                br
                |&
                br
                |Photo  
