extends ./_layouts/_base

block title
  title haletto for PC
block meta
  meta(name="description", content="description")
block link
  // build:css({.tmp,app}) styles/main.min.css
  link(rel='stylesheet' href='styles/merged.css')
  // endbuild

block body
  body
    
    header
      .aaa
    main
    
