extends ./_layouts/_base


block title
  title cham538.com
block meta
  meta(name="description", content="description")
block link
  // build:css({.tmp,app}) styles/main.min.css
  link(rel='stylesheet' href='styles/merged.css')
  // endbuild

block body
  body
    
    header
      .header-wrapper
        .title Shinnosuke Komiya
        
        .earth-logo 
          img(src='images/earth.png' width=38 height=39)
        ul.menu
          li about
          li works
          li blog
          li contact
        
          
        
    main
    
